<ul class="list-group quiz-sidebar-list">
  <li class="list-group-item select-question-by-number-header">
    Questions
  </li>

  <!-- SELECT QUESTION BY NUMBER BOXES-->
  <!-- need to loop by quiz question length -->
  <!-- need to set [class.select-question-by-number-button-selected] to if question is answered -->
  <li class="list-group-item row align-items-center select-question-by-number-box">
    <button type="button" class="col-4 select-question-by-number-button">
      <span>1</span>
    </button>
    <button type="button" class="col-4 select-question-by-number-button">
      <span>2</span>
    </button>
    <button type="button" class="col-4 select-question-by-number-button">
      <span>3</span>
    </button>
    <button type="button" class="col-4 select-question-by-number-button select-question-by-number-button-selected">
      <span>4</span>
    </button>
    <button type="button" class="col-4 select-question-by-number-button">
      <span>1</span>
    </button>
    <button type="button" class="col-4 select-question-by-number-button">
      <span>2</span>
    </button>
    <button type="button" class="col-4 select-question-by-number-button select-question-by-number-button-selected">
      <span>3</span>
    </button>
    <button type="button" class="col-4 select-question-by-number-button">
      <span>34</span>
    </button>
  </li>
  <!-- END SELECT QUESTION BY NUMBER BOXES -->
</ul>

<button type="button" class="quiz-submit-button">
  <span>SUBMIT</span>
</button>