<!-- MY LIBRARIES CONTENT -->

<div class="h4 user-view-header">
  <p>
    <span class="fa fa-book quiz-header-icon"></span>
    <span>My Libraries</span>
  </p>
</div>
<ul class="list-group">
  <!-- *ngFor for each library found -->
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>
      <span class="h3">PL/SQL - Stored Procedures</span>
      <br>
      <small>Size: 30 questions</small>
    </span>
    <span>
      <span class="fa fa-edit fa-2x yellow-edit-icon"></span>
      <span class="fa fa-times fa-2x red-x-icon ml-3"></span>
    </span>
  </li>

  <!-- repetitive libraries for prototype's sake -->
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>
      <span class="h3">Microservices</span>
      <br>
      <small>Size: 51 questions</small>
    </span>
    <span>
      <!-- <span class="fa fa-edit fa-2x yellow-edit-icon"></span> -->
      <span class="fa fa-times fa-2x red-x-icon ml-3"></span>
    </span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>
      <span class="h3">Hibernate</span>
      <br>
      <small>Size: 39 questions</small>
    </span>
    <span>
      <!-- <span class="fa fa-edit fa-2x yellow-edit-icon"></span> -->
      <span class="fa fa-times fa-2x red-x-icon ml-3"></span>
    </span>
  </li>
</ul>
<!-- END MY LIBRARIES CONTENT -->