<div class="login-portal">
  <form>
    <h4 class="login-form-header">Login with registered email</h4>



    <label class="login-label" for="email">Email</label>
    <br>
    <input type="text" class="login-input" id="email" required [(ngModel)]="account.email" name="email">
    <br>



    <label class="login-label" for="password">Password</label>
    <br>
    <input type="password" class="login-input login-input-password" id="password" required [(ngModel)]="account.password" name="password">
    <br>



    <div class="text-center">
      <!-- <a routerLink="/user"> VERIFY instead of LOG IN </a> -->
      <button id="login-button" class="btn center-block" type="button" (click)="onSubmit()">
        <strong>LOG IN &gt;</strong>
      </button>

    </div>
  </form>
</div>