<div class="login-portal">
  <h4 class="login-form-header">Login with registered email</h4>
  <label class="login-label">Email</label><br>
  <input type="text" class="login-input"><br>
  <label class="login-label">Password</label><br>
  <input type="password" class="login-input login-input-password"><br>
  <div class="text-center">
      <a routerLink="/user"> <!-- VERIFY instead of LOG IN -->
        <button id="login-button" class="btn center-block" type="button"><strong>LOG IN &gt;</strong></button>
      </a>
  </div>
</div> 