<!-- PUBLIC LIBRARIES CONTENT -->

<div class="h4 user-view-header">
  <p>
    <span class="fa fa-book quiz-header-icon"></span>
    <span>Public Libraries</span>
  </p>
</div>
<ul class="list-group">
  <!-- *ngFor for each library found -->
  <li class="list-group-item d-flex justify-content-between align-items-center list-as-link">
    <span>
      <span class="h3">HTML/CSS</span>
      <br>
      <small>Author: Team JIT</small>
      <br>
      <small>Size: 60 questions</small>
    </span>
  </li>

  <!-- repetitive libraries for prototype's sake -->
  <li class="list-group-item d-flex justify-content-between align-items-center list-as-link">
    <span>
      <span class="h3">Core Java</span>
      <br>
      <small>Author: Emily Higgins</small>
      <br>
      <small>Size: 83 questions</small>
    </span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center list-as-link">
    <span>
      <span class="h3">Spring MVC</span>
      <br>
      <small>Author: Team Error</small>
      <br>
      <small>Size: 23 questions</small>
    </span>
  </li>
</ul>

<!-- END PUBLIC LIBRARIES CONTENT -->