<ul class="list-group quiz-question">
    <!-- QUIZ QUESTION NUMBER -->
    <li class="list-group-item">
      <span>
        <span class="fa fa-question-circle fa-2x orange-question-icon mr-3"></span>
        <span class="h6">Question
          <span class="quiz-number-label">3</span> out of
          <span class=quiz-number-label>50</span>
        </span>
        <br>
      </span>
    </li>
    <!-- END QUIZ QUESTION NUMBER -->

    <!-- QUIZ QUESTION -->
    <li class="list-group-item">
      <span class="quiz-question-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quos doloribus aperiam, quas quod id veniam reprehenderit
        consectetur provident tempora tenetur! Quos beatae reprehenderit quis minima ad eius debitis. Saepe!
      </span>
    </li>
    <!-- END QUIZ QUESTION -->

    <!-- QUIZ ANSWERS -->
    <li class="list-group-item d-flex align-items-center list-item-quiz-question">
      <span class="fa fa-circle fa-2x quiz-question-radio-unanswered mr-4"></span>
      <span class="quiz-answer-text">
        Lorem ipsum dolor sit amet consectetur.
      </span>
    </li>
    <li class="list-group-item d-flex align-items-center list-item-quiz-question">
      <span class="fa fa-check-circle fa-2x quiz-question-checked mr-4"></span>
      <span class="quiz-answer-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero ducimus asperiores molestiae aut hic sed soluta rerum, optio
        labore nemo?
      </span>
    </li>

    <li class="list-group-item d-flex align-items-center list-item-quiz-question">
      <span class="fa fa-circle fa-2x quiz-question-radio-unanswered mr-4"></span>
      <span class="quiz-answer-text">
        Lorem ipsum dolor sit.
      </span>
    </li>
    <li class="list-group-item d-flex align-items-center list-item-quiz-question">
      <span class="fa fa-circle fa-2x quiz-question-radio-unanswered mr-4"></span>
      <span class="quiz-answer-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam!
      </span>
    </li>
  </ul>

  <!-- END QUIZ QUESTION -->

  <!-- QUIZ PREVIOUS-NEXT BAR -->
  <div class="previous-next-bar">
    <button type="button" class="previous-next-button">
      <span class="fa fa-fast-backward"></span>
      <span class="previous-next-text">FIRST</span>
    </button>
    <button type="button" class="previous-next-button">
      <span class="fa fa-step-backward"></span>
      <span class="previous-next-text">PREV</span>
    </button>
    <button type="button" class="previous-next-button">
      <span class="previous-next-text">NEXT</span>
      <span class="fa fa-step-forward"></span>
    </button>
    <button type="button" class="previous-next-button">
      <span class="previous-next-text">LAST</span>
      <span class="fa fa-fast-forward"></span>
    </button>
  </div>