<!-- REVIEW PREVIOUS QUIZZES CONTENT -->

<!-- Review Previous Quizzes Header Bar -->
<div class="h4 user-view-header">
  <p>
    <span class="fa fa-history quiz-header-icon"></span>
    <span>Review Previous Quizzes</span>
  </p>
</div>

<!-- List of all Previous Quizzes -->
<ul class="list-group">
  <li *ngFor="let attempt of attemptList" class="list-group-item d-flex justify-content-between align-items-center list-as-link">
    <!-- *ngFor for each library found -->
    <span>
      <span class="h3">{{attempt.name}}</span>
      <br>
      <small>{{attempt.timestamp}}</small>
      <br>
      <small>Size: {{attempt.length}} questions</small>
    </span>
    <!-- Generate appropriate circle color with TypeScript -->
    <span class="fa fa-circle fa-4x previous-quiz-score-circle">
      <span class="previous-quiz-score">{{attempt.score}}</span>
    </span>
  </li>
</ul>

<!-- END REVIEW PREVIOUS QUIZZES CONTENT -->